/* Header definitions */

#header{ 
  width: 100%;
  margin: auto;
  padding: 5px 2px 10px 2px;
  border-bottom: 1px solid #909093;
  background: #ffffff;
}

#header img{
	width: 33%;
}

/* Login panel definitions */

#loginpanel{ 
  width: 100%;
  margin: auto;
  padding: 5px 2px 0px 2px;
  border-bottom: 1px solid #909093;
  background: #ffffff;
}

#loginbutton{ 
  display: inline-block;
}

#footer{ 
  width: 100%;
  margin: auto;
  padding: 5px 2px 10px 2px;
  border-top: 1px solid #909093;
  background: #ffffff;
}

h1,
.h1 {
  font-size: 16px;
}

h1,
h2,
h3 {
  margin-top: 5px;
  margin-bottom: 3px;
}

p.footer{
	text-align: center;
}

p.clear{
	clear:both;
}

.chiclet {
	display: inline-block;
  width: 98%;
  padding: 3px;
  margin: 3px 3px 3px 3px;
  background-color: #eeeeee;
  border-radius: 6px;

}

.chiclet h1,
.chiclet .h1 {
  line-height: 1;
  color: inherit;
}

.chiclet p {
  line-height: 1;
}

label {
    font-weight: normal;
}

/** labels & fields **/


label { 

clear:both;

padding-left:1%;

float:left;

width: 30%;

 }



