/* Header definitions */

#header{ 
  width: 100%;
  margin: auto;
  padding: 5px 2px 10px 2px;
  border-bottom: 1px solid #909093;
  background: #ffffff;
}

#header img{
	width: 33%;
}

/* Login panel definitions */

#loginpanel{ 
  width: 100%;
  margin: auto;
  padding: 5px 2px 0px 2px;
  border-bottom: 1px solid #909093;
  background: #ffffff;
}

#loginbutton{ 
  display: inline-block;
}

#footer{ 
  width: 100%;
  margin: auto;
  padding: 5px 2px 10px 2px;
  border-top: 1px solid #909093;
  background: #ffffff;
}

h1,
.h1 {
  font-size: 16px;
}

h1,
h2,
h3 {
  margin-top: 5px;
  margin-bottom: 3px;
}

p.footer{
	text-align: center;
}

p.clear{
	clear:both;
}

.chiclet {
  display: table;
  width: 98%;
  padding: 3px;
  margin: 3px 3px 3px 3px;
  background-color: #eeeeee;
  border-radius: 6px;

}

.chiclet h1,
.chiclet .h1 {
  line-height: 1;
  color: inherit;
}

.chiclet p {
  line-height: 1;
}


.chiclet_text {
  display:table-cell;
  padding:0 0 0 0; 
}

.chiclet_arrow {
  display: table-cell;
  width: 50px;
  vertical-align: middle;
}

.chiclet_arrow i {
  background: url('../images/rightarrow.png') no-repeat center center;
  display: block;
  height: 31px;
  width: 22px;
  margin: 0 auto;
}

.chiclet_arrow:hover {
  outline: 2px solid blue;
}

.chiclet_arrow:hover i {
  background-color: blue;
}



label {
    font-weight: normal;
}

/** labels & fields **/


label { 

clear:both;

padding-left:1%;

float:left;

width: 30%;

 }

.rightarrow {

float:right;

}


