/* Header definitions */



.chiclet {
  /* display: inline-block; */
  display:table;
  width: 98%;
  padding: 3px;
  margin: 3px 3px 3px 3px;
  background-color: #eeeeee;
  border-radius: 6px;

}

.chiclet h1,
.chiclet .h1 {
  line-height: 1;
  color: inherit;
}

.chiclet p {
  line-height: 1;
}


.chiclet_text {
  display:table-cell;
  padding:0 0 0 0; 
}

.chiclet_arrow {
  display: table-cell;
  width: 50px;
  vertical-align: middle;
}

.chiclet_arrow i {
  background: url('../images/rightarrow.png') no-repeat center center;
  display: block;
  height: 31px;
  width: 22px;
  margin: 0 auto;
}

.chiclet_arrow:hover {
  outline: 2px solid blue;
}

.chiclet_arrow:hover i {
  background-color: blue;
}
