/* Header definitions */



.chiclet {
  /* display: inline-block; */
  display:table;
  width: 98%;
  padding: 3px;
  margin: 3px 3px 3px 3px;
  background-color: #eeeeee;
  border-radius: 6px;

}

.chiclet h1,
.chiclet .h1 {
  line-height: 1;
  color: inherit;
}

.chiclet p {
  line-height: 1;
}


.chiclet_text {
  display:table-cell;
  padding:0 0 0 0; 
}


.chiclet_arrow {

display:table-cell;
background: url('file:///home/brian/Desktop/gerrygaffney.github.io/images/rightarrow.png') no-repeat center center;
width: 50px;
}
